colorthief==0.2.1
darkdetect==0.8.0
MaaAgentBinary
MaaFw
numpy==2.1.2
pillow==10.4.0
psutil==6.0.0
PyQt6==6.7.1
PyQt6-Fluent-Widgets==1.7.0
PyQt6-Frameless-Window==0.4.3
PyQt6-Qt6==6.7.3
PyQt6_sip==13.8.0
pywin32==307
scipy==1.14.1
setuptools==75.1.0
wheel==0.44.0
